# backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
.env
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.claude
storage/

.code-review-graph/

# frontend
node_modules/
dist/
.env
.env.local
.DS_Store
*.log
postgresql/
*.pid